In [2]:
import matplotlib.pyplot as plt
import numpy as np
import getstock as gs
import pandas as pd

In [3]:
apikey = "2IT76P24R0I34W7C"

In [4]:
#logistic
FedEx_stock =  gs.getMonthlyStockPrices("FDX", apikey)

In [5]:
FedEx_stock_trimmed = FedEx_stock.loc['2019-01-01':'2019-12-31']

In [7]:
FedEx_stock_trimmed[FedEx_stock_trimmed.dividend_amt > 0]

,open,high,low,close,adjusted_close,volume,dividend_amt
2019-03-29,182.02,185.31,167.61,181.41,178.3252,50446159,0.65
2019-06-28,151.16,169.54,150.68,164.19,162.0325,54982058,0.65
2019-09-30,155.79,176.25,142.49,145.57,144.2340,74643284,0.65
2019-12-31,160.46,168.37,146.24,151.21,150.4441,83534174,0.65

In [11]:
FedEx_return = (FedEx_stock_trimmed.open - FedEx_stock_trimmed.open.shift(1) + FedEx_stock_trimmed.dividend_amt) / FedEx_stock_trimmed.open.shift(1)

In [12]:
FedEx_return

2019-01-31         NaN
2019-02-28    0.124779
2019-03-29    0.024509
2019-04-30    0.001373
2019-05-31    0.040928
2019-06-28   -0.199863
2019-07-31    0.111537
2019-08-30    0.012737
2019-09-30   -0.080630
2019-10-31   -0.065473
2019-11-29    0.058864
2019-12-31    0.045083
dtype: float64

In [13]:
FedEx_return.mean()

0.006713227859973755

In [14]:
Usps_stock = gs.getMonthlyStockPrices("USPS", apikey)

In [15]:
Usps_stock_trimmed = Usps_stock.loc['2019-01-01':'2019-12-31']

In [16]:
Usps_stock_trimmed[Usps_stock_trimmed.dividend_amt > 0]

Empty DataFrame
Columns: [open, high, low, close, adjusted_close, volume, dividend_amt]
Index: []

In [20]:
Usps_return = (Usps_stock_trimmed.open - Usps_stock_trimmed.open.shift(1) + Usps_stock_trimmed.dividend_amt) / Usps_stock_trimmed.open.shift(1)

In [21]:
Usps_return

2019-01-30         NaN
2019-02-28    0.750000
2019-03-29   -0.378571
2019-04-23   -0.080460
2019-05-31   -0.622500
2019-06-05    0.788079
2019-07-26   -0.462963
2019-08-29    0.310345
2019-09-30   -0.052632
2019-10-28   -0.166667
2019-11-06    0.333333
2019-12-27   -0.295000
dtype: float64

In [22]:
Usps_return.mean()

0.011178656714076968

In [23]:
Ups_stock = gs.getMonthlyStockPrices("UPS", apikey)

In [24]:
Ups_stock_trimmed = Ups_stock.loc['2019-01-01':'2019-12-31']

In [25]:
Ups_stock_trimmed[Ups_stock_trimmed.dividend_amt > 0]

,open,high,low,close,adjusted_close,volume,dividend_amt
2019-02-28,105.72,112.28,105.26,110.20,106.3209,60105269,0.96
2019-05-31,106.06,106.95,92.65,92.92,90.5150,66608667,0.96
2019-08-30,118.87,120.77,110.51,118.66,116.5512,68508062,0.96
2019-11-29,116.46,125.31,116.11,119.73,118.5147,49188607,0.96

In [26]:
Ups_return = (Ups_stock_trimmed.open - Ups_stock_trimmed.open.shift(1) + Ups_stock_trimmed.dividend_amt) / Ups_stock_trimmed.open.shift(1)

In [27]:
Ups_return

2019-01-31         NaN
2019-02-28    0.109863
2019-03-29    0.049376
2019-04-30    0.020281
2019-05-31   -0.054510
2019-06-28   -0.124646
2019-07-31    0.126454
2019-08-30    0.145821
2019-09-30   -0.010179
2019-10-31    0.022013
2019-11-29   -0.023534
2019-12-31    0.031170
dtype: float64

In [28]:
Ups_return.mean()

0.026555195932175767

In [29]:
print('FedEx monthly return mean:',FedEx_return.mean())
print('Usps monthly return mean:',Usps_return.mean())
print('Ups monthly return mean:',Ups_return.mean())

FedEx monthly return mean: 0.006713227859973755
Usps monthly return mean: 0.011178656714076968
Ups monthly return mean: 0.026555195932175767

In [30]:
print('So, we choose Ups in portfolio combination.')

So, we choose Ups in portfolio combination.

In [33]:
#streaming media
Netflix_stock =  gs.getMonthlyStockPrices("NFLX", apikey)

In [34]:
Netflix_stock_trimmed = Netflix_stock.loc['2019-01-01':'2019-12-31']

In [35]:
Netflix_stock_trimmed[Netflix_stock_trimmed.dividend_amt > 0]

Empty DataFrame
Columns: [open, high, low, close, adjusted_close, volume, dividend_amt]
Index: []

In [36]:
Netflix_return = (Netflix_stock_trimmed.open - Netflix_stock_trimmed.open.shift(1) +Netflix_stock_trimmed.dividend_amt) / Netflix_stock_trimmed.open.shift(1)

In [37]:
Netflix_return

2019-01-31         NaN
2019-02-28    0.300447
2019-03-29    0.074382
2019-04-30   -0.008999
2019-05-31    0.041783
2019-06-28   -0.081390
2019-07-31    0.087146
2019-08-30   -0.131861
2019-09-30   -0.103099
2019-10-31   -0.080703
2019-11-29    0.079858
2019-12-31    0.088985
dtype: float64

In [38]:
Netflix_return.mean()

0.024231687781992906

In [39]:
Facebook_stock =  gs.getMonthlyStockPrices("FB", apikey)

In [40]:
Facebook_stock_trimmed = Facebook_stock.loc['2019-01-01':'2019-12-31']

In [41]:
Facebook_stock_trimmed[Facebook_stock_trimmed.dividend_amt > 0]

Empty DataFrame
Columns: [open, high, low, close, adjusted_close, volume, dividend_amt]
Index: []

In [42]:
Facebook_return = (Facebook_stock_trimmed.open - Facebook_stock_trimmed.open.shift(1) +Facebook_stock_trimmed.dividend_amt) / Facebook_stock_trimmed.open.shift(1)

In [43]:
Facebook_return

2019-01-31         NaN
2019-02-28    0.285681
2019-03-29   -0.019537
2019-04-30    0.032165
2019-05-31    0.160579
2019-06-28   -0.101550
2019-07-31    0.115486
2019-08-30   -0.005328
2019-09-30   -0.052377
2019-10-31   -0.026359
2019-11-29    0.076472
2019-12-31    0.048120
dtype: float64

In [44]:
Facebook_return.mean()

0.04666843996820646

In [45]:
Twitter_stock = gs.getMonthlyStockPrices("TWTR", apikey)

In [46]:
Twitter_stock_trimmed = Twitter_stock.loc['2019-01-01':'2019-12-31']

In [47]:
Twitter_stock_trimmed[Twitter_stock_trimmed.dividend_amt > 0]

Empty DataFrame
Columns: [open, high, low, close, adjusted_close, volume, dividend_amt]
Index: []

In [48]:
Twitter_return = (Twitter_stock_trimmed.open - Twitter_stock_trimmed.open.shift(1) +Twitter_stock_trimmed.dividend_amt) / Twitter_stock_trimmed.open.shift(1)

In [49]:
Twitter_return

2019-01-31         NaN
2019-02-28    0.187544
2019-03-29   -0.071216
2019-04-30    0.063843
2019-05-31    0.206273
2019-06-28   -0.088750
2019-07-31   -0.026063
2019-08-30    0.198310
2019-09-30   -0.003761
2019-10-31   -0.025012
2019-11-29   -0.274927
2019-12-31    0.031709
dtype: float64

In [50]:
Twitter_return .mean()

0.01799544548138338

In [51]:
print('Netflix monthly return mean:',Netflix_return.mean())
print('Facebook monthly return mean:',Facebook_return.mean())
print('Twitter monthly return mean:',Twitter_return.mean())

Netflix monthly return mean: 0.024231687781992906
Facebook monthly return mean: 0.04666843996820646
Twitter monthly return mean: 0.01799544548138338

In [70]:
print('So, we choose Facebook in portfolio combination.')

So, we choose Facebook in portfolio combination