In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import getstock as gs
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [2]:
apikey = "N5VESV03IO07SUX8"

In [3]:
Target_stock = gs.getMonthlyStockPrices("TGT",apikey)
Walmart_stock = gs.getMonthlyStockPrices("WMT", apikey)
Costco_stock = gs.getMonthlyStockPrices("COST", apikey)

In [4]:
Target_stock_trimmed = Target_stock.loc['2019-01-01':'2019-12-31']
Walmart_stock_trimmed = Walmart_stock.loc['2019-01-01':'2019-12-31']
Costco_stock_trimmed = Costco_stock.loc['2019-01-01':'2019-12-31']

In [5]:
Target_stock_trimmed[Target_stock_trimmed.dividend_amt > 0]

,open,high,low,close,adjusted_close,volume,dividend_amt
2019-02-28,73.095,73.71,69.0700,72.64,70.6237,93833418,0.64
2019-05-31,77.800,82.25,70.0300,80.45,78.9194,140086834,0.64
2019-08-30,86.190,109.33,80.0335,107.04,105.8138,182895387,0.66
2019-11-29,108.060,127.97,107.0200,125.01,124.3137,129841173,0.66

In [6]:
Walmart_stock_trimmed[Walmart_stock_trimmed.dividend_amt > 0]

,open,high,low,close,adjusted_close,volume,dividend_amt
2019-03-29,99.47,100.49,96.53,97.53,95.6801,141148758,0.53
2019-05-31,102.77,103.96,98.85,101.44,100.0458,155765843,0.53
2019-08-30,110.32,115.38,104.84,114.26,113.2400,157363365,0.53
2019-12-31,119.15,122.12,117.42,118.84,118.3052,98426399,0.53

In [7]:
Costco_stock_trimmed[Costco_stock_trimmed.dividend_amt > 0]

,open,high,low,close,adjusted_close,volume,dividend_amt
2019-02-28,214.00,219.6917,205.7500,218.74,216.7517,37633330,0.57
2019-05-31,245.34,251.0100,233.0500,239.58,238.0361,39655921,0.65
2019-08-30,275.75,299.9500,262.7100,294.76,293.5023,50012361,0.65
2019-10-31,288.04,304.8800,281.6001,297.11,296.4895,47544698,0.65

In [8]:
Target_return = (Target_stock_trimmed.open - Target_stock_trimmed.open.shift(1)
                + Target_stock_trimmed.dividend_amt) / Target_stock_trimmed.open.shift(1)
Walmart_return = (Walmart_stock_trimmed.open - Walmart_stock_trimmed.open.shift(1)
                + Walmart_stock_trimmed.dividend_amt) / Walmart_stock_trimmed.open.shift(1)
Costco_return = (Costco_stock_trimmed.open - Costco_stock_trimmed.open.shift(1)
                + Costco_stock_trimmed.dividend_amt) / Costco_stock_trimmed.open.shift(1)

In [9]:
Target_return

2019-01-31         NaN
2019-02-28    0.133338
2019-03-29    0.006772
2019-04-30    0.095393
2019-05-31   -0.026920
2019-06-28    0.035990
2019-07-31    0.086228
2019-08-30   -0.007995
2019-09-30    0.238775
2019-10-31    0.005245
2019-11-29    0.012951
2019-12-31    0.163243
dtype: float64

In [10]:
Walmart_return

2019-01-31         NaN
2019-02-28    0.046704
2019-03-29    0.042535
2019-04-30   -0.015080
2019-05-31    0.054404
2019-06-28   -0.011093
2019-07-31    0.095149
2019-08-30   -0.004043
2019-09-30    0.030457
2019-10-31    0.045479
2019-11-29   -0.007825
2019-12-31    0.014925
dtype: float64

In [11]:
Costco_return

2019-01-31         NaN
2019-02-28    0.070175
2019-03-29    0.026916
2019-04-30    0.106070
2019-05-31    0.012013
2019-06-28   -0.022662
2019-07-31    0.111144
2019-08-30    0.037421
2019-09-30    0.060997
2019-10-31   -0.013262
2019-11-29    0.034544
2019-12-31    0.005906
dtype: float64

In [12]:
Target_return.mean()

0.0675472521031165

In [13]:
Walmart_return.mean()

0.02651031025384579

In [14]:
Costco_return.mean()

0.03902373547467924

In [15]:
Cocacola_stock = gs.getMonthlyStockPrices("KO",apikey)
Pepsi_stock = gs.getMonthlyStockPrices("PEP", apikey)
GreenMountain_stock = gs.getMonthlyStockPrices("KDP", apikey)

In [16]:
Cocacola_stock_trimmed = Cocacola_stock.loc['2019-01-01':'2019-12-31']
Pepsi_stock_trimmed = Pepsi_stock.loc['2019-01-01':'2019-12-31']
GreenMountain_stock_trimmed = GreenMountain_stock.loc['2019-01-01':'2019-12-31']

In [17]:
Cocacola_stock_trimmed[Cocacola_stock_trimmed.dividend_amt > 0]

,open,high,low,close,adjusted_close,volume,dividend_amt
2019-03-29,45.47,46.92,44.6100,46.86,45.4286,363961889,0.4
2019-06-28,49.16,52.20,49.0200,50.92,49.7507,248587593,0.4
2019-09-30,54.98,55.92,53.6300,54.44,53.5820,219016915,0.4
2019-11-29,54.63,54.74,51.5831,53.40,52.9521,226242549,0.4

In [18]:
Pepsi_stock_trimmed[Pepsi_stock_trimmed.dividend_amt > 0]

,open,high,low,close,adjusted_close,volume,dividend_amt
2019-02-28,112.95,117.300,111.45,115.64,112.4380,96885909,0.9275
2019-06-28,127.86,135.242,127.49,131.13,128.4217,88686926,0.9550
2019-09-30,136.35,139.180,134.10,137.10,135.2113,78847232,0.9550
2019-12-31,136.65,138.250,134.32,136.67,135.7314,82804561,0.9550

In [19]:
GreenMountain_stock_trimmed[GreenMountain_stock_trimmed.dividend_amt > 0]

,open,high,low,close,adjusted_close,volume,dividend_amt
2019-01-31,25.28,27.33,24.860,27.22,26.4841,54260220,0.15
2019-04-30,27.98,29.13,26.090,29.07,28.4398,52428549,0.15
2019-07-31,29.12,30.27,27.395,28.14,27.6667,51154438,0.15
2019-10-31,27.32,28.20,26.610,28.16,27.8388,52713618,0.15

In [20]:
Cocacola_return = (Cocacola_stock_trimmed.open - Cocacola_stock_trimmed.open.shift(1)
                + Cocacola_stock_trimmed.dividend_amt) /Cocacola_stock_trimmed.open.shift(1)
Pepsi_return = (Pepsi_stock_trimmed.open - Pepsi_stock_trimmed.open.shift(1)
                + Pepsi_stock_trimmed.dividend_amt) / Pepsi_stock_trimmed.open.shift(1)
GreenMountain_return = (GreenMountain_stock_trimmed.open - GreenMountain_stock_trimmed.open.shift(1)
                + GreenMountain_stock_trimmed.dividend_amt) / GreenMountain_stock_trimmed.open.shift(1)

In [21]:
Cocacola_return

2019-01-31         NaN
2019-02-28    0.032808
2019-03-29   -0.053837
2019-04-30    0.033429
2019-05-31    0.041711
2019-06-28    0.012462
2019-07-31    0.038853
2019-08-30    0.033483
2019-09-30    0.049261
2019-10-31   -0.008185
2019-11-29    0.009169
2019-12-31   -0.023979
dtype: float64

In [22]:
Pepsi_return

2019-01-31         NaN
2019-02-28    0.043312
2019-03-29    0.025764
2019-04-30    0.058087
2019-05-31    0.042907
2019-06-28    0.007548
2019-07-31    0.032301
2019-08-30   -0.022956
2019-09-30    0.064710
2019-10-31    0.004254
2019-11-29    0.004528
2019-12-31    0.000400
dtype: float64

In [23]:
GreenMountain_return

2019-01-31         NaN
2019-02-28    0.080696
2019-03-29   -0.066618
2019-04-30    0.103137
2019-05-31    0.038242
2019-06-28   -0.026506
2019-07-31    0.035007
2019-08-30   -0.031937
2019-09-30   -0.038311
2019-10-31    0.013279
2019-11-29    0.034041
2019-12-31    0.092743
dtype: float64

In [24]:
Cocacola_return.mean()

0.015015888515921645

In [25]:
Pepsi_return.mean()

0.023714018728350352

In [26]:
GreenMountain_return.mean()

0.0212521422080976